<div id="buttons">
    <button mat-button ripple id="r1" (click)='clear()'>AC</button>
    <button mat-button id="r2" (click)='del()'><<</button>
    <button mat-button id="r3" (click)='neg()'>+/-</button>
    <button mat-button id="r4" (click)='appendThis("x")'>x</button>
    <button mat-button id="r5" (click)='appendThis("7")'>7</button>
    <button mat-button id="r6" (click)='appendThis("8")'>8</button>
    <button mat-button id="r7" (click)='appendThis("9")'>9</button>
    <button mat-button id="r8" (click)='appendThis("/")'>/</button>
    <button mat-button id="r9" (click)='appendThis("4")'>4</button>
    <button mat-button id="r10" (click)='appendThis("5")'>5</button>
    <button mat-button id="r11" (click)='appendThis("6")'>6</button>
    <button mat-button id="r12" (click)='appendThis("-")'>-</button>
    <button mat-button id="r13" (click)='appendThis("1")'>1</button>
    <button mat-button id="r14" (click)='appendThis("2")'>2</button>
    <button mat-button id="r15" (click)='appendThis("3")'>3</button>
    <button mat-button id="r16" (click)='appendThis("+")'>+</button>
    <button mat-button id="r17" class="zero" (click)='appendThis("0")'>0</button>
    <button mat-button id="r18" (click)='appendThis(".")'>.</button>
    <button mat-button id="r19" (click)='calculate()' class="eqBtn">=</button>
   
    
</div>